{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<title>Django-Setup</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css'%}" >
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="{% url 'main_page' %}">
                    <img src="{% static 'assets/images/mysalogo.png' %}" alt="Logo">
                </a>
            </div>
            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="hamburger">&#9776;</label>
            <div class="menu-wrapper">
                <ul class="menu">
                    <li><a href="{% url 'main_page' %}">Home</a></li>
                    <li><a href="{% url 'price_page' %}">Price List</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile_page' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li> 
                    {% else %}
                        <li><a href="{% url 'register_page' %}">Register</a></li>
                        <li><a href="{% url 'signin_page' %}">Sign-In</a></li>
                    {% endif %}
                    <li class="mobile-only"><a href="{% url 'booking_page' %}" class="book-now-btn">Book Now</a></li>
                    <li class="mobile-only social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550565067850" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/mysa_beauty_aesthetics?igsh=cGJxeDlsb2p0NjRx&utm_source=qr" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="right-menu desktop-only">
                <a href="{% url 'booking_page' %}" class="book-now-btn">Book Now</a>
                <a href="https://www.facebook.com/profile.php?id=61550565067850" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/mysa_beauty_aesthetics?igsh=cGJxeDlsb2p0NjRx&utm_source=qr" class="social-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </nav>

{% load crispy_forms_tags %}

{% block content %}

<div class="text-center2">
    <h3 class="text-center1 section-title mx-auto" id="booking">Edit Booking</h1>
    <form method="POST" enctype="multipart/form-data" class="text-center w-75 mx-auto p-2 booking-section">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger text-center w-75 mx-auto my-3" role="alert">
            <em>This date and time combination is unavailable, please choose again.<em>
        </div>
        {% endif %}
        <div class="row mx-auto">
            <div class="col m-4">
                <h4 class="text-center mb-4">Your Details</h4>
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.treatment|as_crispy_field }}
            </div>
            <div class="col m-4">
                <h4 class="text-center mb-4">Choose Date & Time</h4>
                {{ form.day|as_crispy_field }}
                {% if form.date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.date.errors|safe }}
                </div>
                {% endif %}
                {{ form.time|as_crispy_field }}
                {% if form.time.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.time.errors|safe }}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn1 btn-custom booking-btn">Save</button>
    </form>
</div>

{% endblock %}

