{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">
<title>Django-Setup</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css'%}" >
</head>
<body>
    <nav class="navbar"></nav>
        <div class="navbar-container">
            <div class="logo">
                <img src="{% static 'assets/images/mysalogo.png' %}" href="index.html" alt="Logo">
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="hamburger">&#9776;</label>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="signin.html">Sign-In</a></li>
                <li><a href="price.html">Price List</a></li>
            </ul>
            <div class="right-menu">
                <a href="booking.html" class="book-now-btn">Book Now</a>
                <a href="https://www.facebook.com" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </nav>
    <div class="hero mt-5 pt-5">
        <img src="{% static 'assets/images/hero.webp' %}" alt="Hero Image">
        <h3>Enhance Your Natural Glow at Mysa</h3>
        <a href="booking.html" class="book-now-btn1">Book Now</a>
        <a href="price.html" class="book-now-btn2">Treatments</a>
    </div>
    <div class="container content-section"></div>
        <div class="row justify-content-center">
            <div class="col-md-5 left-column">
                <img src="{% static 'assets/images/amy.webp' %}" alt="Image of Amy">
            </div>
            <div class="col-md-5 right-column">
                <h3 class="name">Amy McHugh</h3>
                <p>
                    Welcome to Mysa, your haven for beauty and aesthetics. We provide a range of services to help you look and feel your best,  
                    vastly experienced and dedicated to offering personalised care and attention, 
                    ensuring you receive the highest quality treatments in a relaxing and serene environment. Experience the art of beautiful living with Mysa.
                </p>
            </div>
        </div>
    </div>
    <div class="container gallery"></div>
        <div class="row">
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Botox5.webp' %}" alt="Image 1" class="img-fluid">
            </div>
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Nails2.jpg' %}" alt="Image 2" class="img-fluid">
            </div>
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Lips1.JPG' %}" alt="Image 3" class="img-fluid">
            </div>
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Botox3.webp' %}" alt="Image 4" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Nails4.jpg' %}" alt="Image 5" class="img-fluid">
            </div>
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Botox2.jpg' %}" alt="Image 6" class="img-fluid">
            </div>
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Lips2.jpg' %}" alt="Image 7" class="img-fluid">
            </div>
            <div class="col-3 mt-20 pt-20">
                <img src="{% static 'assets/images/Nails3.jpg' %}" alt="Image 8" class="img-fluid">
            </div>
        </div>
    </div>
</body>
</html>